p {
    font-size: 16px;
}

h2 {
    font-size: 2rem !important;
    padding: 15px;
    text-decoration: underline;
}

/* Comments form */
.comments{
    border: 1px solid black;
    word-break: break-all;
    margin-top: 30px;
}
.createdAt {
    color: blue;
}
/* Form */
#Form{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Comment text */
.commentText{
    margin-top: 50px;
    text-align: center;
}
/* Wrapper to center */
.wrapper{
    margin: auto;
    width: 50%;
    max-width: 1000px;
}
/* Comment div */
.textAreaDiv{
    margin-top: 50px;
}
.textAreaDiv h2{
    text-align: center;
}
.blogImage{
    width: 20%;
    padding: 20px;
}
.textArea{
    width: 100%;
}
textarea:focus{
    border:1px solid #ff0df1;
    box-shadow: 0 0 10px #719ECE;
}

.nextPrevButtons {
    padding: 15px;
    background-color: #00bff3;
    color: white;
    border-radius: 25px;
    transition: 0.2s;
}

.nextPrevButtons:hover {
    text-decoration: none;
    background-color: #006E99;
    color: white;
}
